.card-title {
  text-align: center;
  font-size: 75%;
}

#set-cards-navigation {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
}

#set-title {
  padding-left: 5%;
}

#cards-list-spinner {
  margin-top: 7%;
}
