* {
  box-sizing: border-box;
}


app-set-list {
  width: 15%;
  float: left;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  background-color: #eceff1;
}

app-set-detail {
  width: 85%;
  height: 100%;
  float: right;
  background-color: #cfd8dc;
}

#sets-list-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
}