#set-list {
  margin-top: 20%;
}

#set-list-filter {
  position: fixed;
  width: 12%;
  height: 5%;
  padding: 0 1%;
  background-color: #ECEFF1;
  z-index: 1;
}

.mat-button {
  width: 100%;
  text-align: left;
  vertical-align: middle;
}

.set-name {
  white-space: normal;
  font-size: 0.6vw;
}
