.card-detail {
  float: right;
  width: 30%;
  padding: 0 5%;
}

.card-image img {
  width: 60%;
  float: left;
}

img.symbol {
  width:7%;
}

.legality {
  border-radius: 0.3em;
}

.legal {
  border-radius: 0.3em;
  background-color: #43A047; 
}

.not_legal {
  background-color: #BDBDBD;
}

.restricted {
  border-radius: 0.3em;
  background-color: #29B6F6;
}

.banned {
  border-radius: 0.3em;
  background-color: #e53935;
}