.mat-dialog-title, .card-type {
  font-size: 1vw;
}

.mat-dialog-content {
  padding: 0 1vw;
}

.card-detail {
  float: right;
  width: 45%;
  padding: 0 3%;
  font-size: 0.8vw;
}

.card-image img {
  width: 16vw;
  float: left;
}

.legality {
  border-radius: 0.3em;
}

.legal {
  border-radius: 0.3em;
  background-color: #43A047; 
}

.not_legal {
  background-color: #BDBDBD;
}

.restricted {
  border-radius: 0.3em;
  background-color: #29B6F6;
}

.banned {
  border-radius: 0.3em;
  background-color: #e53935;
}

img.symbol {
  width: 3%;
  margin-left: 1%;
}