<h1 mat-dialog-title class="card-title">
  <span>
    {{ card.name }}
  </span>
  <span *ngFor="let manaCost of card.getManaCosts()">
    <img class="symbol" [src]="manaCost | symbol" />
  </span>
</h1>
<div>
  <p class="card-type">{{ card.typeLine }}</p>
</div>
<div mat-dialog-content>
  <span class="card-image">
    <ng-container *ngIf="card.imageUris != null; else facesImageTemplate">
      <img [src]="card.imageUris.normal" />
    </ng-container>
    <ng-template #facesImageTemplate>
      <img [src]="card.cardFaces[0].imageUris.normal" />
    </ng-template>
  </span>
  <span class="card-detail">
    <ng-container *ngIf="card.cardFaces == null; else facesTemplate">
      <app-card-description [card]="card"></app-card-description>
    </ng-container>
    <ng-template #facesTemplate>
      <div *ngFor="let face of card.cardFaces">
        <app-card-description [card]="face"></app-card-description>
      </div>
    </ng-template>
    <mat-grid-list cols="2" rowHeight="1em" [gutterSize]="'0.1em'">
      <mat-grid-tile class="legality">
        <div [class]="card.legalities.pioneer">Standard</div>
      </mat-grid-tile>
      <mat-grid-tile class="legality">
        <div [class]="card.legalities.pioneer">Pionner</div>
      </mat-grid-tile>
      <mat-grid-tile class="legality">
        <div [class]="card.legalities.modern">Modern</div>
      </mat-grid-tile>
      <mat-grid-tile class="legality">
        <div [class]="card.legalities.legacy">Legacy</div>
      </mat-grid-tile>
      <mat-grid-tile class="legality">
        <div [class]="card.legalities.commander">Commander</div>
      </mat-grid-tile>
      <mat-grid-tile class="legality">
        <div [class]="card.legalities.brawl">Brawl</div>
      </mat-grid-tile>
    </mat-grid-list>
    <div>
      <div>
        Prices:
      </div>
      <div>
        <a [href]="card.purchaseUris.cardmarket" target="_blank">Cardmarket</a
        ><span *ngIf="card.prices.euro">: {{ card.prices.euro }}€</span>
      </div>
      <div>
        <a [href]="card.purchaseUris.tcgPlayer" target="_blank">TcgPlayer</a
        ><span *ngIf="card.prices.usd">: {{ card.prices.usd }}$</span>
      </div>
    </div>
    <div>
      <span>Artist: {{ card.artist }}</span>
    </div>
  </span>
</div>
