<h1 mat-dialog-title class="card-title">{{ card.name }}</h1>
<div mat-dialog-content>
  <span class="card-image">
    <img [src]="card.image_uris.normal" />
  </span>
  <span class="card-detail">
    <ng-container *ngIf="card.card_faces == null; else facesTemplate">
      <app-card-description [card]="card"></app-card-description>
    </ng-container>
    <ng-template #facesTemplate>
      <div *ngFor="let face of card.getCardFaces()">
        <app-card-description [card]="face"></app-card-description>
      </div>
    </ng-template>
  </span>
</div>
